.secondScreen {
    background: var(--bg-second);
    color: #fff;
    border-radius: 0.125em;
    padding: 0;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    margin-bottom: 8.3em;
    gap: 0.5em;

    @media (min-width: 480px) {
        margin-bottom: 3.1em;
    }

    @media (min-width: 768px) {
        margin-bottom: 7.1em;
        gzp: 2em;
        flex-direction: row !important;
    }

    @media (max-width: 767px) and (min-width: 480px) {
        .wp-block-column.is-layout-flow {
            flex-basis: 0 !important;

            &:last-child {
                max-width: 8.263em;
            }
        }
    }

    &__content {
        padding: 1.3em 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 480px) {
            padding: 0.9em 0.6em;
        }

        @media (min-width: 768px) {
            padding: 1.65em 1.05em;
        }
    }

    &__top {
        width: 100%;
        max-width: 30em;
    }

    &__title {
        color: #fff;
        font-size: 1.8em;
        line-height: 1;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
        color: inherit;

        strong {
            color: #beb3a5;
            font-size: 0.3em;
            vertical-align: top;
        }

        @media (min-width: 480px) {
            font-size: 1.25em;
        }

        @media (min-width: 768px) {
            font-size: 2.8em;
        }
    }
    &__sub {
        font-size: 0.9em;
        margin: 0.3em 0 1em;
        line-height: 1.3;
        text-transform: uppercase;
        font-family: var(--font-family-secondary);

        @media (min-width: 480px) {
            font-size: 0.5em;
            margin: 0.2em 0;
        }

        @media (min-width: 768px) {
            margin: 0.4em 0;
            font-size: 0.9em;
        }
    }

    &__img {
        overflow: hidden;
        border-radius: 0.125em;
        margin: 0 -0.6em 0.5em;

        @media (min-width: 480px) {
            margin: 0;
            padding: 0.3125em;
        }

        @media (max-width: 767px) and (min-width: 480px) {
            height: 8em;
        }

        .wp-block-image {
            margin: 0;
        }
    }

    &__list.is-layout-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 1.8em 0 0;
        gap: 1.3em;

        @media (min-width: 768px) {
            margin: 0;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            max-width: 91%;
            gap: 1.8em 7em;
        }
    }
}
