.objectDetail {
    margin-bottom: 2.7em;

    @media (min-width: 480px) {
        margin-bottom: 1.5em;
    }
    @media (min-width: 768px) {
        margin-bottom: 6.25em;
    }

    &__content {
        gap: 0.625em;
    }
    &__left {
    }
    &__right {
        p,
        ul,
        ol {
            font-size: 0.95em;
            line-height: 1.4;

            @media (min-width: 480px) {
                font-size: 0.55em;
                line-height: 1.4;
            }

            @media (min-width: 768px) {
                font-size: 0.813em;
                line-height: 1.6;
            }
        }
    }

    .workSingle__gallery {
        @media (max-width: 767px) {
            margin-top: 1em;
        }
        @media (max-width: 480px) {
            margin-top: 1.5em;
            margin-bottom: 1.4em;
        }
    }

    .homeDetail__content {
        @media (max-width: 767px) {
            gap: 1.6em;
        }
    }

    &__gallery {
        margin-top: 1.5em;
        overflow: hidden;

        @media (min-width: 480px) {
            margin-top: 0;
        }

        figure.wp-block-image,
        figure.wp-block-image.size-large {
            position: relative;
            flex-grow: 0;
            display: flex;
            flex-direction: column;
            gap: 0.613em;

            @media (min-width: 480px) {
                gap: 0.313em;
            }

            @media (max-width: 480px) {
                width: 100% !important;
            }

            &:before {
                display: none !important;
            }
            &:after {
                font-family: 'elephant';
                content: '\e903';
                position: absolute;
                right: 0.9em;
                bottom: 2.7em;
                font-size: 1.3em;
                color: #b2b1ac;
                display: block;
                z-index: 10;
                height: auto;
                cursor: pointer;

                @media (min-width: 480px) {
                    right: 0.3em;
                    bottom: 1.6em;
                    font-size: 1em;
                }
            }
            img {
                display: block;
                width: 100%;
                height: 100% !important;
                aspect-ratio: 6 / 4.1;
                flex: 0 !important;
                object-fit: cover !important;

                @media (min-width: 480px) {
                    aspect-ratio: 6 / 4.4;
                }

                @media (min-width: 768px) {
                    aspect-ratio: 6 / 4;
                }
            }
        }
        .wp-element-caption {
            width: 100%;
            position: static !important;
            background: transparent !important;
            text-transform: uppercase;
            font-size: 0.85em !important;
            color: var(--color-main) !important;
            text-shadow: none !important;
            text-align: left !important;
            padding: 0 !important;
            margin: 0 0 0 0.1em !important;
            margin-bottom: 1em !important;

            @media (min-width: 480px) {
                margin: 0 0 0 -0.1em !important;
                font-size: 0.65em !important;
            }

            @media (min-width: 768px) {
                margin: 0 0 0 -0.6em !important;
                font-size: 0.75em !important;
            }
        }
    }
}
