// Social link
.soc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.9em;
    margin: 0 0 1.8em;

    @media (min-width: 480px) {
        gap: 0.6em;
        margin: 0;
    }

    @media (min-width: 768px) {
        gap: 0.45em;
    }

    .footer & {
        @media (min-width: 480px) {
            justify-content: end;
            align-self: end;
            margin-bottom: 1.375em;
        }
    }

    a {
        width: 2.3em;
        height: 2.3em;
        text-decoration: none;
        transition: background 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bg-second);
        color: var(--bg-main);
        border-radius: 0.125em;

        @media (min-width: 480px) {
            width: 1.6em;
            height: 1.6em;
        }

        @media (min-width: 768px) {
            width: 1.875em;
            height: 1.875em;
        }

        .footer & {
            color: var(--bg-main);
            background: var(--btn-primary-bg);

            &:hover {
                background: var(--btn-primary-bg-hover);
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}
