.wp-block-list {
    color: var(--list-color);
    margin: var(--list-margin) 0;
    padding: 0 0 0 var(--list-padding);

    li {
        margin: 0;

        &:nth-child(n + 2) {
            margin-top: var(--list-items-margin);
        }
    }
}

ul.wp-block-list {
    list-style: var(--list-style);
}

ol.wp-block-list {
    list-style: var(--list-style-number);
}
